body {
	background-color: #c0d8da;
}

#header {
	font-size: 2em;
	text-align: center;
	padding: 20px;
}

#wrapper {
	width: 804px;
	margin: auto;
}

#controls {
	border-left: 1px dotted;
	border-top: 1px dotted;
	height: 200;
	width: 400px;
	float: left;
	background-color: #d6f0f2;
}

#controls-internal {
	width: 380px;
	height: 180px;
	padding: 10px;
}

#template {
	border-right: 1px dotted;
	border-top: 1px dotted;
	border-left: 2px dashed;
	height: 200px;
	width: 400px;
	float: right;
	clear: right;
	background-color: #dffdff;
}

#clear {
	clear: both;
}

#rendered {
	border: 2px solid;
	height: 400px;
	width: 800px;
	margin: 0px;
	background-color: #efffff;
}