body {
}

#header {
	font-size: 2em;
	text-align: center;
}

#wrapper {
	width: 820px;
	margin: auto;
}

#controls {
	border: 1px dotted;
	height: 200;
	width: 400px;
	margin: 10px auto;
}

#template {
	border: 1px dashed;
	height: 400px;
	width: 800px;
	margin: 10px;
}

#rendered {
	border: 1px solid;
	height: 400px;
	width: 800px;
	margin: 10px;
}